# Locale setup. Should this default to en_US instead?
d-i	debian-installer/locale	 	string en_GB
d-i	keyboard-configuration/layoutcode string en_GB
d-i	keyboard-configuration/xkb-keymap string en_GB
d-i	time/zone string		string Europe/London

# Mirror setup
d-i	mirror/country			string manual
d-i	mirror/http/hostname		string ftp.uk.debian.org
d-i	mirror/http/directory		string /debian/
d-i	mirror/http/proxy		string 
d-i	mirror/udeb/suite		string squeeze
d-i	mirror/suite			string squeeze
#d-i	mirror/udeb/suite		string sid
#d-i	mirror/suite			string sid
#d-i	debian-installer/allow_unauthenticated	string true
#d-i	anna/no_kernel_modules		boolean true

# Partitioning -- do we want to do anything special for this part? Perhaps
# install LVM, or leave a physical partition open for local storage?
d-i	partman-auto/method		string regular
d-i	partman-auto/choose_recipe \
		select All files in one partition (recommended for new users)
d-i	partman/confirm_write_new_label	boolean true
d-i	partman/choose_partition \
		select Finish partitioning and write changes to disk
d-i	partman/confirm			boolean true

# Root user setup
d-i	passwd/make-user		boolean false
d-i	passwd/root-password		password xenroot
d-i	passwd/root-password-again	password xenroot
popularity-contest	popularity-contest/participate	boolean	false

# Packages to install. We should install Kronos packages here.
tasksel	tasksel/first			multiselect standard
d-i pkgsel/include string \
	openssh-server vim ntp ethtool tpcdump bridge-util \
	rsync ssmtp strace gdb build-essential
d-i base-installer/kernel/image string linux-image-686-pae
d-i apt-setup/local0/repository string \
	http://10.80.238.190/kronos/latest/sid/apt/debian/ unstable main
d-i apt-setup/local0/source boolean true
d-i apt-setup/local0/key string http://downloads.xen.org/XCP/debian/xcp.gpg.key
d-i pkgsel/include string xcp-xapi

# Dash must die!
dash    dash/sh boolean false

# Grub setup
d-i	grub-installer/only_debian	boolean true
d-i grub-installer/with_other_os boolean true

# We can do post-install scripts!!!
#d-i preseed/late_command string \
#cd /target; \
#wget ftp://ftp.deathcat.dci/pub/ubuntu/scripts/post-install; \
#chmod +x ./post-install; \
#chroot ./ ./post-install; \
#rm -f ./post-install

# And we're done.
d-i	finish-install/reboot_in_progress	note
#d-i	debian-installer/exit/poweroff	boolean true
#d-i	debian-installer/exit/always_halt boolean true
